body{
    margin: 0;
    padding: 0;
    background-color: #fff;
}

#rotary{
    width: 500px;
    height: 500px;
    /* border: 2px solid #e9704a; */
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.draw_box{
    width: 32%;
    height: 32%;
    /* border: 2px solid #e9704a; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.draw_btn{
    border: none;
    background: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-size: 30px;
    background-color: #e9704a;
    color: #fff;
}
@media screen and (min-width:280px) and (max-width:768px){
    #rotary {
        margin: 0 auto;
        width: 100%;
        height: 400px;
    }
    .draw_btn{
        font-size: 24px;
    }
}

/* 朱姿姿的菜单 */
.zzz_box{
    width: 25%;
    height: 25%;
}
.zzz_btn{
    width: auto;
    padding: 8px 18px;
    border-radius: 9px;
}